/* AdminPage.css */
.admin-page {
    padding: 20px;
    height: 300vh; /* Set to the desired height of the container */
  }
  
  .admin-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .admin-buttons .btn {
    margin: 10px 0;
  }
  
  .admin-section {
    margin-top: 20px;
    color: white;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  