.album-card {
  margin: 10px;
}


.album-card {
  width: 300px; /* Ajusta el ancho de la tarjeta según tu diseño */
  height: 400px; /* Ajusta la altura de la tarjeta según tu diseño */
  overflow: hidden;
}

.album-card-title {
  font-size: 1.25rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album-card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Número máximo de líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album-card img {
  height: 300px; /* Ajusta la altura de la imagen según tu diseño */
  object-fit: cover;
}

.button-buy .button-link {
  color: black;
  text-decoration: none;
}

.button-buy .button-link:hover {
  color: black; /* Mantén el color negro incluso cuando el enlace sea seleccionado */
}
