.custom-button {
    background-color: yellow !important;
    color: black !important;
    border-color: black !important; /* Para asegurar que el borde también cambie */
  }
  
  .custom-button:hover {
    background-color: black !important; /* Cambia el color de fondo en hover si lo deseas */
    color: yellow !important;
    border-color: black !important;
  }